@using CitizenFX.Blazor.WebAssembly
@using CitizenFX.Blazor.WebAssembly.Services
@inherits NuiComponent

@inject INuiCallbackService NuiCallbackService
@inject ILogger<App> _Logger

<h1>BlazorUI</h1>

@if (_hello != string.Empty) 
{
    <h4>Hello: @_hello</h4>
}

@code {

    private string _hello { get; set; } = string.Empty;
    
    [NuiMessageHandler("showui:hello")]
    public async Task OnShowUi(string hello)
    {
        _hello = hello;
        StateHasChanged();
        
        if (hello == "before")
        {
            await NuiCallbackService.TriggerNuiCallbackAsync("getItemInfo", new {});
        }
    }
}
