@using CitizenFX.Blazor.WebAssembly
@inherits NuiComponent

@inject ILogger<App> _Logger

<h1>BlazorUI</h1>

@code {
    [NuiMessageHandler("showui:hello")]
    public void OnShowUi(string hello)
    {
        _Logger.LogInformation("OnShowUi: {Hello}", hello);
    }
    
    [NuiMessageHandler("showui")]
    public void OnShowUi()
    {
        _Logger.LogInformation("OnShowUi: {Hello}");
    }
}
