@using CitizenFX.Extensions.Blazor.WebAssembly
@using CitizenFX.Extensions.Blazor.WebAssembly.Services
@inherits CitizenFX.Extensions.Blazor.WebAssembly.NuiComponent

@inject INuiCallbackService NuiCallbackService

<TestPage />
<h1>BlazorUI</h1>
<h3>@_count</h3>

@if (_count >= 10)
{
    <TestPage />
    <h3>New instance</h3>
}

@code {

    private int _count = 0;
    
    [NuiMessageHandler("showui:hello")]
    public async Task OnShowUi(string hello)
    {
        Interlocked.Increment(ref _count);
        
        StateHasChanged();
        
        if (hello == "before")
        {
            await NuiCallbackService.TriggerNuiCallbackAsync("getItemInfo", new {});
        }
    }
}
